USE [master]
GO
/****** Object:  Database [CarDealership]    Script Date: 10/30/2017 6:45:45 PM ******/
CREATE DATABASE [CarDealership]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarDealership', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CarDealership.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CarDealership_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CarDealership_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarDealership].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarDealership]
GO
/****** Object:  Table [dbo].[Buyer]    Script Date: 10/30/2017 6:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buyer](
	[BuyerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[LicenseNumber] [nchar](10) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_Buyer] PRIMARY KEY CLUSTERED 
(
	[BuyerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Car]    Script Date: 10/30/2017 6:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[VIN] [nvarchar](50) NOT NULL,
	[Make] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[ModelYear] [int] NOT NULL,
 CONSTRAINT [PK_Car] PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CarBuyer]    Script Date: 10/30/2017 6:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarBuyer](
	[Car_BuyerID] [int] IDENTITY(1,1) NOT NULL,
	[CarID] [int] NOT NULL,
	[BuyerID] [int] NOT NULL,
 CONSTRAINT [PK_CarBuyer] PRIMARY KEY CLUSTERED 
(
	[Car_BuyerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Buyer] ON 

INSERT [dbo].[Buyer] ([BuyerID], [FirstName], [LastName], [LicenseNumber], [PhoneNumber]) VALUES (1, N'Dana', N'Deming Jr', N'GQM 7500  ', N'440-773-6566')
SET IDENTITY_INSERT [dbo].[Buyer] OFF
SET IDENTITY_INSERT [dbo].[Car] ON 

INSERT [dbo].[Car] ([CarID], [VIN], [Make], [Model], [ModelYear]) VALUES (1, N'39874832b988', N'Dodge', N'Challenger', 2011)
INSERT [dbo].[Car] ([CarID], [VIN], [Make], [Model], [ModelYear]) VALUES (2, N'987v342u908', N'Pontiac', N'Grand Prix GTP', 2001)
SET IDENTITY_INSERT [dbo].[Car] OFF
ALTER TABLE [dbo].[CarBuyer]  WITH CHECK ADD  CONSTRAINT [FK_CarBuyer_Buyer] FOREIGN KEY([BuyerID])
REFERENCES [dbo].[Buyer] ([BuyerID])
GO
ALTER TABLE [dbo].[CarBuyer] CHECK CONSTRAINT [FK_CarBuyer_Buyer]
GO
ALTER TABLE [dbo].[CarBuyer]  WITH CHECK ADD  CONSTRAINT [FK_CarBuyer_Car] FOREIGN KEY([CarID])
REFERENCES [dbo].[Car] ([CarID])
GO
ALTER TABLE [dbo].[CarBuyer] CHECK CONSTRAINT [FK_CarBuyer_Car]
GO
USE [master]
GO
